<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
	
		
	
		<link href='http://fonts.googleapis.com/css?family=Marmelad' rel='stylesheet' type='text/css'>
		
		<script type="text/javascript" src="/static/jquery-1.7.2.min.js"></script>
		<script type="text/javascript">var satId={{data.id}}</script>
		<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
		<script type="text/javascript" src="/static/mapfuncs.js"></script>
		<script type="text/javascript" src="/static/main.js"></script>
		<link href="/static/style.css" rel="stylesheet" type="text/css">
	</head>
	<body onload="init()">
	<div id="latitude" style="display:none;visiblity:hidden;"></div>
		<div id="longitude" style="display:none;visiblity:hidden;"></div>
	
		
		<div id="container_body" class="containerstyle bg-style">
			
			<div id="container_map" class="centered overflow">
				<div id="map_map" style="float:left" class="centered overflow">
					<div id="mapContainer"></div>
				</div>
				<div id="map_details" class="overflow">
					<div id="details_plus" style="" class="plussign header1">
						<a>+</a>
					</div>
					<div id="details_weather" style="float:left;" class="overflow">
						
						
							
						<img width="100" height="100" src="/static/weather_sun.png"></img>
	
							
					</div>
					<div id="details_plus" style="" class="plussign header1">
						<a>+</a>
					</div>
					<div id="details_satdata" style="width:30%;float:left;font-size:120%;">
						<a>Satellite: {{ event.title }}</a>
					</div>
				</div>
				<div id="map_equals" style="padding-top:3%">
					<a class="header1">=</a>
				</div>
				<div id="map_visibility" style="font-size:200%;">
					<p>Visible from: {{ event.start.time }}<br />Visible until: {{ event.end.time }}</p>
					<p>Weather details: </p> 
						{{ event.weather.simple.description }}
						{{ event.weather.metOffice.chanceOfRain.unit }}
					
				</div>
				
				
				
			</div>
				
			
			<div id="container_satellite" style="" class="centered overflow">
					
				<div id="satellite_searchbar" style="float:left;width:20%;">
					<a>Satellite ID: </a><input id="satellite_input" value="25544" onclick="ClearBox(this)" type="text" style="width:99%;"></input>
				</div>
				<div id="satellite_search" style="float:left;overflow:visible;">
					<img src="/static/search.png" width="50" height="50" onclick="Search()" style="width:110%;height:110%;float:left;"></img>
				</div>
				<div id="satellite_link">
					<a>Link: </a><a id="getlink" href="#">Error loading link. Is Javascript enabled?</a>
				</div>
			</div>
			
		</div>	
	</body>
</html>