<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<link href='http://fonts.googleapis.com/css?family=Marmelad' rel='stylesheet' type='text/css'>
		<link href="/static/style.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div id="header" class="containerstyle bg-style">
			<a class="header1">You are now looking at the position of Satellite {{data.name}}. Satellite ID: {{data.id}}</a>
		</div>
		<div id="container_body" class="containerstyle bg-style">
			<div id="container_map" class="centered">
				<div id="map_map" style="float:left">
					<iframe width="500" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/?ie=UTF8&amp;ll=37.0625,-95.677068&amp;spn=47.080837,85.78125&amp;t=m&amp;z=4&amp;output=embed"></iframe>
				</div>
				<div id="map_weather" style="float:right;">
					<img src="static/test.jpg"></img>
					<br />
					<a>Viewing conditions</a>
				</div>
			</div>
				
			<div id="container_conditions" style="clear:both;margin-top:5%">
				<div id="conditions_weather" style="float:left;width:72%;">
					<div id="conditions_weather_date">
						<p>Extra details!</p>
							<p>Latitude (North to South) : {{data.location.lat}}&deg;</p>
								<p>Longitude (East to West) : {{data.location.lng}}&deg;</p>
									<p>
					</div>
					<div id="conditions_weather_text">
						<p>here i'll tell you it is a lovely day to be iss today. look at the weather mate
						<br /> it is proper good right</p>
					</div>
					
				</div>
				<div id="conditions_image" style="float:right;width:25%;height:30%">
					<img src="static/weather_sun.png"></img>
				</div>					
			</div>
			
		</div>	
		{{data.location.0.start.az.end}}
	</body>
</html>