<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<link href='http://fonts.googleapis.com/css?family=Marmelad' rel='stylesheet' type='text/css'>

		<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
		<script type="text/javascript" src="js/mapfuncs.js"></script>
		<script type="text/javascript" src="js/main.js"></script>
		<link href="/static/style.css" rel="stylesheet" type="text/css">

	</head>
	<body>
		<div id="header" class="containerstyle bg-style">
			<a class="header1">Earth Satellite Viewing Experience Optimiser</a>
		</div>
		<div id="container_body" class="containerstyle bg-style" style="border-top-width:0">
			<div id="container_location">
				<div id="location_searchbar" style="float:left;width:80%;">
					<input type="text" style="width:99%;"></input>
				</div>
				<div id="location_search" style="float:left;">
					<!--img src="img/search.png" onclick="loc.Search()" style="width:100%;height:100%;float:left;"></img-->
					<input type="submit" value="Search" onclick="Search()"></input>
				</div>
				<div id="location_findme" style="float:right;">
					<input type="submit" value="Find me" onclick="Get()"></input>
				</div>
			</div>
			<div id="container_map" class="centered">
				<div id="map_map" style="float:left" class="centered">
					<iframe id="mapcanvas" width="500" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/?ie=UTF8&amp;ll=37.0625,-95.677068&amp;spn=47.080837,85.78125&amp;t=m&amp;z=4&amp;output=embed"></iframe>
				</div>

				<div id="map_weather" style="float:right;">
					
					<br />
					<a>Viewing conditions</a>

				</div>
			</div>
				
			<div id="container_conditions" style="clear:both;margin-top:5%">
				<div id="conditions_weather" style="float:left;width:75%;">
					<div id="conditions_weather_date">
						<p>YOU CAN NEXT SEE THE ISS AT {viewing_date}</p>
					</div>
					<div id="conditions_weather_text">
						<p>here i'll tell you it is a lovely day to be iss today. look at the weather mate
						<br /> it is {weather_status}</p>
					</div>
					
				</div>

				<div id="conditions_image" style="float:right;width:25%;height:30%">
					<img src="static/weather_sun.png"></img>

				</div>					
			</div>
			
		</div>	
		{{data.results.0.start}}	
	</body>
</html>